@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	height: 100svh;
}

.transition-right {
	transition-property: right;
	transition-duration: 300ms;
}
.image {
	position: absolute;
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #e7816b inset; /* zmień kolor tła pola na biały */
	-webkit-text-fill-color: #fff;
}
@media (max-width: 1024px) {
	.designAnimation {
		animation-duration: 1s;
		animation-name: design;
	}
}

@keyframes design {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
